@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0DB760;
    ;
    font-size: unset;
}

body {
    font-family: 'Poppins';

}

/* Utility Classes */
/* .container {
    margin-left: 50px;
    margin-right: 50px;
} */

.btn {
    padding: 1rem;
    border: 2px solid var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

.btn2 {
    background: var(--primary-color);
    color: #fff;
}

.green-text {
    color: var(--primary-color);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}



/* Navbar */
nav{
    /* display: flex; */
    width: 50%;
    z-index: 999999;
    /* margin: auto; */
    /* backdrop-filter: blur(8px); */
    left: 0;
    top: 0;
    right: 0;
    /* position: -webkit-sticky;
    position: sticky; */
    
}
.nav-container {
    display: flex;
    /* width: 100%; */
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    height: 100px;
}


#navmenu ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

#navmenu ul li a {
    text-decoration: none;
    color: black;
}

#navmenu ul li :hover {
    opacity: 0.5;
}


/* Section */

.section-container {
    margin-top: 25px;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.section-image img {
    max-width: 400px;
}

#home-welcome {

    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 110px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    height: 20px;
    padding-top: 10px;

}

.home-text {
    text-align: start;
    width: 500px;
}

.home-text p {
    padding: 30px 0;
}


/* Client-Section */

.client-section-container {
    margin-bottom: 2vh;
    margin-top: 2.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


#client {
    margin-bottom: 10px;
}

#client h1 {
    color: var(--primary-color);
}

/* c section */

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

/* companies section */


.img-div-comp {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    flex-basis: 60%;

}

/* testimonials */
#testimonials {

    background-color: #E8E8E8;
    text-align: center;
    color: #204212;
}


.doggy {
    border-radius: 100%;
    width: 13%;
    margin: 22px;
}

#press {
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 1%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    height: auto;
    line-height: 3rem;

}

.carousel-item {
    padding: 5% 20%;

}

#home-welcome-tm {
    margin: 25px auto;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 150px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    height: 50px;
    padding-top: 10px;
}


/* contact form */

.contact-div h2 {
    font-size: 3rem;
    margin: auto auto 15px auto;
}

.contact-div p {
    margin: auto;
}

.form-div p{
    margin: 1px;
}


/* footer */
.fa {
    margin: auto 5px 15px auto;
    font-size: 25px;
    width: auto;    
    text-align: center;
    text-decoration: none;
  }




/* Media Queries */

@media only screen and (min-width: 1127px) {

    .img-crs {
        padding-left: 8vh;
        padding-right: 8vh;


    }

    /*     
    .home-buttons-img-divv{
        display: none;
        visibility: hidden;
    } */

}



@media only screen and (max-width: 1127px) {
    #navmenu {
        display: none;
    }

    #home-welcome {
        margin: auto;
    }

    .section-container {
        flex-wrap: wrap;
    }

    .home-text {
        margin: auto;
        text-align: center;
    }

    .client-section-container {
        /* flex-wrap: wrap; */
        text-align: center;
    }

 


}


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;

    }

    #home-welcome {
        margin: 8px auto;
    }

    .btn {
        padding: 0.5rem;
        border: 2px solid var(--primary-color);
        font-size: 0.7rem;
        font-weight: bold;
    }

    .section-container {
        margin-top: 5vh;
    }

    .section-image img {
        display: none;

        /* max-width: 200px; */
    }

    #navtitle img {
        width: 50px;
    }

    .img-crs {
        padding-left: 6vh;
        padding-right: 6vh;
    }

    .img-comps {
        margin: 0;
        padding: 0;
    }

    .home-text p {
        padding: 30px 5px 30px 5px;

    }

    #testimonials h2 {
        font-size: 1rem;
        line-height: 2rem;
    }

    .footer div, h6{
        margin-left: 1vw!important;
        margin-right: 2vw!important;
    }
}